# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/
*_env/
env.bak/
venv.bak/

# IDE / Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Data files (Generated and User-specific)
data/liked_tracks.csv
data/downloaded.txt
data/liked_playlist.m3u
data/*.log
# Можно добавить .gitkeep в папку data, если хотите сохранить саму папку пустой

# Downloaded media and backups
downloads/
# Можно добавить .gitkeep в папку downloads
downloads_backup/
# Можно добавить .gitkeep в папку downloads_backup

# Generated web player playlist
web_player/playlist.json

# Temporary files
*.part
*.tmp

# FFmpeg executable (if placed in root)
ffmpeg
ffmpeg.exe

# Log files potentially generated elsewhere
*.log

# Streamlit secrets (if used)
.streamlit/secrets.toml